body {
  background: #EFE2BA
}

.container {
  background: #EFE2BA;
  max-width: 600px;
  width: 100%;
  display: table;
  margin: 0 auto;
  margin-top: 40px;
}


h1 {
  color: #4056A1;
  font-family: 'Lora', serif;
  font-size: 45px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 15px;
  line-height: 1;
  margin-left: 470px;
  font-weight: bold;
}


#buttons {
  display: flex;
  justify-content: center;
  margin-right: 25px;
  margin-bottom: 5px;
}


.add-item-btn, .clear-checked-btn, .update-item-btn {
  background-color: #e0876a;
  font-weight: bold;
  color: linen;
  border-width: 2px;
  border-color: #664400;
  height: 30px;
  margin: 15px;
}


.text-input {
  background: #EFE2BA;
  color: DimGrey;
  border: none;
  display: block;
  width: 50%;
  line-height: 3;
  border-bottom: 1px solid silver;
  outline:0;
  font-size: 20px;
  text-align: center;
  margin-left: 340px;
}


li {
    color: DimGrey;
    font-weight: 400;
    font-family: 'Lora', serif;
    border-bottom: 1px solid silver;
    line-height: 1.5;
    padding: 8px 0;
}


.complete {
  color: #cc2900;
  font-weight: bold;
  text-decoration: line-through;
}

#image {
  width: 90px;
  height: 90px;
  margin-right: 395px;
  margin-top: 5px;
}

#buffer {
  width: 100%;
  height: 10px;
}


